.additional-goods {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-goods__title {
  // margin: 0 auto;
  // padding-top: 15px;
  // padding-bottom: 28px;
  // padding-left: 20px;

  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @color-subtitle-main;
}
