.additional-goods__upperground {
  position: relative;

  &::after {
    position: absolute;
    top: 15px;
    right: 0;
    width: calc(100% - 270px);
    height: 3px;
    content: "";
    background-color: @color-background;
  }
}


.additional-goods__title {
  .container;
  margin-top: 27px;
  margin-bottom: 33px;
  .oswald(24px, 24px);
  text-align: left;
  color: @color-goods-title;
}


.additional-goods__wrapper {
  .container;
}


.additional-goods__list {
  .list-reset;
}


.additional-goods__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 290px;
  margin-top: 39px;
  margin-bottom: 34px;
  background-color: @color-goods-background-promo;
  background-image: url("../img/gift/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift/gift-photo-mobile@2x.jpg");
  }

  & svg {
    margin-top: 65px;
    width: 56px;
    height: 61px;
    fill: @color-text-contrast;
  }
}


.additional-goods__promo-title {
  width: 170px;
  margin-bottom: 43px;
  padding: 0;
  .arial(16px, 20px);
  text-align: center;
  color: @color-text-contrast;
}


@media (min-width: @width-tablet) {
  .additional-goods__upperground {
    &::before {
      position: absolute;
      top: 24px;
      left: 0;
      width: 30px;
      height: 3px;
      content: "";
      background-color: @color-background;
    }

    &::after {
      top: 24px;
      right: 0;
      width: calc(100% - 440px);
      height: 3px;
      content: "";
      background-color: @color-background;
    }
  }

  .additional-goods__title {
    margin-top: -5px;
    margin-bottom: 81px;
    padding-top: 0;
    padding-left: 67px;
    .oswald(36px, 36px);
  }


  .additional-goods__promo {
    height: 200px;
    margin-top: 69px;
    margin-bottom: 75px;
    padding-right: 116px;
    padding-left: 91px;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/gift/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }

    & svg {
      margin-top: -10px;
    }
  }


  .additional-goods__promo-title {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: @width-desktop) {
  .additional-goods__upperground {
    &::before {
      top: 22px;
      width: calc(50% - 1300px / 2);
    }

    &::after {
      top: 22px;
      width: calc((50% - 1300px / 2) + (1300px * 2 / 3) + 20px);
    }
  }

  .additional-goods__title {
    margin-top: 3px;
    padding-left: 40px;
  }


  .additional-goods__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 90px;
  }


  .additional-goods__list {
    flex-basis: 895px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 80px;
    padding: 0;
  }


  .additional-goods__promo {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 245px;
    height: 289px;

    background-image: url("../img/gift/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }

    & svg {
      margin: 0 auto;
      margin-top: 65px;
    }
  }


  .additional-goods__promo-title {
    margin: 0 auto;
    margin-bottom: 43px;
    padding: 0;
    text-align: center;
  }
}
