.button {
  min-width: 280px;
  height: 40px;

  font-family: @font-main;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-button-text;

  background-color: @color-button-background;
  border: none;

  &:hover {
    background-color: @color-button-background-hover;
    cursor: pointer;
  }

  &:active {
    color: rgba(@color-button-text, 0.3);
    cursor: pointer;
  }
}
