.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: @color-footer-background;
}


.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}


.footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  height: 93px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:focus {
    .outline;
  }

  &[href]:active {
    opacity: 0.6;
  }
}


.footer__logo-image {
  margin-top: 8px;
}


.footer__contacts {
  margin: 0;
  background-color: @color-background-contrast;
}


@media (min-width: @width-tablet) {
  .footer__wrapper {
    .container;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .footer__logo-image {
    margin-top: 0;
  }


  .footer__social,
  .footer__copyright {
    padding-bottom: 7px;
  }
}


@media (min-width: @width-desktop) {
  .footer__logo-image {
    margin-top: 0;
  }
}
