.good-add {
  display: flex;
  flex-direction: column;
  height: 129px;
  border-top: 1px solid @color-goods-border-details;

  &:last-of-type {
    border-bottom: 1px solid @color-goods-border-details;
  }
}


.good-add__title {
  margin-top: 12px;
  margin-bottom: 0;
  .oswald(16px, 16px);
  text-transform: uppercase;
  color: @color-goods-subtitle;
}


.good-add__info {
  display: flex;
  justify-content: space-between;
  .arial(14px, 14px);
}


.good-add__detail {
  text-align: left;
}


.good-add__cost {
  text-transform: uppercase;
  text-align: right;
}


.good-add__order-link {
  height: 40px;
  padding-top: 10px;
  margin-bottom: 18px;
}


@media (min-width: @width-tablet) {
  .good-add {
    flex-direction: column;
    justify-content: space-between;
    height: 139px;
    padding-right: 37px;
    padding-left: 37px;
    border-top: 1px solid @color-goods-border-details;
    border-right: 1px solid @color-goods-border-details;
    border-left: 1px solid @color-goods-border-details;

    &:last-of-type {
      border-bottom: 1px solid @color-goods-border-details;
    }
  }


  .good-add__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
    margin-bottom: 6px;
  }


  .good-add__title {
    margin-top: 0;
    margin-bottom: 19px;
    .oswald(20px, 20px);
  }


  .good-add__info {
    flex-direction: row;
    .arial(16px, 20px);
    text-align: right;
  }


  .good-add__cost {
    width: 95px;
  }


  .good-add__order-link {
    margin-bottom: 28px;
  }
}


@media (min-width: @width-desktop) {
  .good-add {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0;
    border-right: none;
    border-left: none;
  }


  .good-add__title {
    width: 325px;
  }


  .good-add__wrapper {
    flex-grow: 1;
  }


  .good-add__info {
    width: 325px;
  }


  .good-add__detail {
    width: 245px;
  }


  .good-add__cost {
    width: 80px;
    text-align: left;
  }


  .good-add__order-link {
    width: 245px;
    margin: 15px 0;
  }
}
