.good-add {
  display: flex;
  flex-direction: column;

  border-top: 1px solid @color-border-add;

  &:last-of-type {
    border-bottom: 1px solid @color-border-add;
  }
}

.good-add__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-text;
}

.good-add__info {
  display: flex;
  justify-content: space-between;

  font-family: @font-second;
  font-size: 14px;
  line-height: 14px;
  color: @color-text;
}

.good-add__detail {
  text-align: left;
}

.good-add__cost {
  text-transform: uppercase;
  text-align: right;
}
