// .header {}

.header__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.header__logo-link {
  display: block;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

//.header__navigation {}
//.header__promotion {}

@media (min-width: @width-tablet) {
  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  // .header__navigation {
  //   margin-top: 0;
  //   padding: 0;
  // }
}

// @media (min-width: @width-desktop) {

// }
