.main__title {
  margin: 0 auto;

  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 20px;

  font-size: 36px;
  font-weight: @font-weight-default;
  line-height: 60px;
  text-align: left;
  color: @color-main-text;

  border-top: 1px solid @color-main-border;
}

.main__subtitle {
  // margin-top: 30px;
  // margin-bottom: 30px;
  width: 230px;
  margin: 30px 20px;

  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @color-main-text;
}

@media (min-width: @width-tablet) {
  .main__title {
    padding-left: 30px;

    font-size: 60px;
    line-height: 60px;

    border-top: none;
  }

  .main__subtitle {
    width: 330px;

    font-size: 20px;
    line-height: 30px;
  }
}

// @media (min-width: @width-desktop) {

// }
