.main__title {
  margin: 0 auto;

  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 20px;

  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  text-align: left;
  color: @color-subtitle-main;

  //border-top: 1px solid @color-grey-five;
  //border-bottom: 1px solid @color-grey-five;
}

.main__subtitle {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @color-subtitle-main;
}
