.program {
  .container;
}


.program__list {
  .list-reset;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.program__type {
  position: relative;
  padding: 20px;
  background-color: @color-program-background;

  &:last-child {
    margin-top: 19px;
  }

  &::before {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 21px;
    height: 50px;
    width: 50px;
    content: "";
    border-radius: 50%;
    background-color: @color-background;
  }

  & svg {
    position: absolute;
    z-index: 5;
  }

  &--slim svg {
    top: 24px;
    left: 30px;
  }

  &--fat svg {
    top: 36px;
    left: 13px;
  }
}


.program__title {
  margin-top: 11px;
  margin-bottom: 29px;
  padding-left: 70px;
  .oswald(24px, 37px);
  text-transform: uppercase;
}


.program__description {
  margin-top: 0;
  padding-bottom: 22px;
  .arial();
  text-align: left;
  border-bottom: 1px solid @color-grey-three;
}


.program__link {
  .link-reset;
  display: block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 2px;
  .oswald(16px, 16px);
  color: @color-link-contrast;

  &::after {
    position: absolute;
    top: 3px;
    margin-left: 12px;
    content: "";
    background-image: url("../img/decor/icon-right-arrow-long.svg");
    width: 24px;
    height: 11px;
  }

  &:focus::after,
  &:hover::after {
    top: 3px;
    background-image: url("../img/decor/icon-right-arrow-verylong.svg");
    width: 34px;
    height: 12px;
  }

  &:focus {
    .outline;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}


@media (min-width: @width-tablet) {
  .program__list {
    padding: 0;
  }


  .program__type {
    padding-top: 49px;
    padding-left: 51px;
    padding-bottom: 56px;

    &:last-child {
      margin-top: 31px;
    }

    &::before {
      top: 92px;
      right: 61px;
      left: auto;
      height: 200px;
      width: 200px;
    }

    &--slim {
      padding-right: 282px;
    }

    &--fat {
      padding-right: 315px;
    }

    &--slim svg {
      top: 80px;
      right: 92px;
      left: auto;
      width: 141px;
      height: 194px;
    }

    &--fat svg {
      top: 135px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 113px;
    }
  }


  .program__title {
    margin-top: 27px;
    margin-bottom: 24px;
    padding-left: 0;
    .oswald(36px, 37px);
  }


  .program__description {
    margin-bottom: 36px;
    .arial(16px, 24px);
    border-bottom: none;
  }


  .program__link {
    .oswald(20px, 20px);

    &::after {
      margin-left: 24px;
      top: 3px;
    }

    &:focus::after,
    &:hover::after {
      top: 3px;
    }
  }
}


@media (min-width: @width-desktop) {
  .program {
    margin-top: 78px;
  }


  .program__list {
    display: flex;
    justify-content: space-between;
  }


  .program__type {
    flex-basis: 570px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 40px;

    &:last-of-type {
      margin-top: 0;
      margin-left: 80px;
    }

    &::before {
      top: 47px;
      left: 50px;
      height: 100px;
      width: 100px;
    }

    &--slim svg {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--fat svg {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }


  .program__title {
    padding-left: 163px;
  }


  .program__description {
    margin-top: 74px;
    margin-bottom: 10px;
  }


  .program__link {
    margin-top: 0;
  }
}
