.promotion {
  display: flex;
  flex-direction: column;
}


.promotion__wrapper {
  margin: 0 auto;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  //background-color: @color-background-third;
  padding-top: 28px;
}


.promotion__title {
  margin: 0 auto;
  width: 250px;

  .oswald(36px, 36px);
  text-align: center;
  color: @colot-text-contrast;
}


.promotion__slogan {
  margin-top: 25px;

  .oswald(14px, 14px);
  text-align: center;
  text-transform: uppercase;
  color: @colot-text-contrast;
}


.promotion__link {
  padding-top: 12px;

  .oswald(14px, 16px);
}


.promotion__image {
  margin-top: 15px;
  margin-left: 20px;
}


@media (min-width: @width-tablet) {
  .promotion__link {
    width: 245px;
    height: 52px;
  }
}
