.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(180deg, @color-background-gradient 305px, @color-background-contrast 25%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 320px 305px, 100% 305px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(180deg, @color-background-gradient 305px, @color-background-contrast 25%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 320px 305px, 100% 305px;
  }
}


.promotion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.promotion__title {
  width: 280px;
  margin-top: 28px;
  margin-bottom: 10px;
  .oswald(36px, 36px);
  color: @color-text-contrast;
  text-align: center;
}


.promotion__slogan {
  margin-bottom: 29px;
  .oswald(14px, 14px);
  color: @color-text-contrast;
  text-transform: uppercase;
  text-align: center;
}


.promotion__link {
  width: 100%;
  height: 40px;
  padding-top: 11px;
  margin-left: 20px;
  margin-right: 20px;
  .oswald(14px, 18px);
}


@media (min-width: @width-tablet) {
  .promotion {
    position: relative;
    align-items: flex-start;
    padding-bottom: 508px;
    padding-left: 117px;
    background: none;
  }


  .promotion__wrapper {
    align-items: flex-start;
  }


  .promotion__title {
    width: 415px;
    margin-top: 51px;
    margin-bottom: 24px;
    .oswald(60px, 60px);
    color: @color-header-text;
    text-align: left;
  }


  .promotion__slogan {
    margin-bottom: 48px;
    .oswald(20px, 20px);
    color: @color-header-text;
    text-align: left;
  }


  .promotion__image {
    position: absolute;
    z-index: -1;
    top: 255px;
    left: calc(50% - 356px);
    width: 709px;
    height: 609px;
  }


  .promotion__link {
    align-self: flex-start;
    width: 246px;
    height: 52px;
    padding: 15px;
    .oswald(20px, 20px);
  }
}

@media (min-width: @width-desktop) {
  .promotion {
    padding-top: 53px;
    padding-bottom: 189px;
    padding-left: 120px;
  }


  .promotion__title {
    margin-bottom: 23px;
  }


  .promotion__slogan {
    margin-bottom: 52px;
  }


  .promotion__link {
    margin-top: 53px;
  }


  .promotion__image {
    z-index: 1;
    width: 552px;
    height: 499px;
    top: 26px;
    left: calc(50% - 159px);
  }
}
