.slider {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}


.slider__pictures {
  display: flex;
  min-width: @width-mobile-min;
}


.slider__image--before-left,
.slider__image--after,
.slider__image--after-right {
  display: none;
}


.slider__switch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
  padding-right: 59px;
  padding-bottom: 34px;
  padding-left: 64px;
}


.slider__text {
  padding-left: 0;
  padding-right: 0;
  .oswald(16px, 20px);
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid @color-example-border;
  }

  &:active {
    text-decoration: none;
  }

  &:focus {
    .outline;
  }

  &--before {
    margin-right: 18px;
  }

  &--after {
    margin-left: 18px;
  }
}


.slider__range {
  display: flex;
}


.slider__button {
  position: relative;
  display: flex;
  width: 84px;
  height: 14px;
  border: 1px solid @color-example-border;
  border-radius: 5px;
  background-color: @color-example-background-slider;
  cursor: pointer;
  outline: none;

  &::after {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 5px;
    content: "";
    min-width: 35px;
    height: 6px;
    background-color: @color-background;
    border-radius: 5px;
  }

  &:focus {
    .outline;
  }
}


.slider__image--no-display {
  display: none;
}


.slider__button--active {
  border-top: 3px solid @color-background;
}


@media (min-width: @width-tablet) {
  .slider__pictures {
    justify-content: center;
    min-width: @width-tablet;
  }


  .slider__image--before {
    display: none;
  }


  .slider__image--before-left {
    display: block;
    width: auto;
    height: 499px;
    margin-left: 14px;
    margin-top: 25px;
  }


  .slider__image--after-right {
    display: block;
    width: auto;
    height: 517px;
    margin-top: 15px;
  }


  .slider__switch {
    padding: 14px 0;
  }


  .slider__text {
    .oswald(20px, 20px);
    padding-bottom: 5px;
    border-bottom: 1px dotted @color-example-background-dotted;

    &--before {
      margin-right: 21px;
    }

    &--after {
      margin-left: 20px;
    }
  }


  .slider__range {
    height: 6px;
    width: 428px;
    margin-bottom: 4px;
    background-color: @color-example-background-slider-button;
    border: 2px solid @color-example-background-slider-button;
    border-radius: 2.5px;
    align-content: center;
  }


  .slider__button {
    position: relative;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    padding: 0;
    margin: -14px auto 0;
    background-color: @color-example-background-slider;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(@color-element-shadow, 0.15);

    &::after {
      top: 11px;
      left: 11px;
      min-width: 8px;
      height: 8px;
      border-radius: 5px;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(@color-element-shadow, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(@color-element-shadow, 0.3);
      border: solid 2px @color-background;

      &::after {
        transform: translate(-7%);
      }
    }
  }
}


@media (min-width: @width-desktop) {
  .slider {
    align-items: flex-end;
  }


  .slider__pictures {
    position: absolute;
    top: -565px;
    left: -140px;
  }


  .slider__image--before-left {
    margin-left: 0;
  }


  .slider__image--after-right {
    display: block;
    width: auto;
    height: 517px;
  }


  .slider__switch {
    margin: 0;
    padding: 0;
  }
}
