.container-center() {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}


.oswald(@font-size, @line-height, @font-weight: @font-weight-default) {
  font-family: @font-main;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}


.arial(@font-size: 14px, @line-height: 18px) {
  font-family: @font-second;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color-arial;
}
