// Семейства шрифтов
@font-main: "Oswald";
@font-second: "Arial";

// Цвета
@color-white: #FFFFFF;

@color-green: #68B738;
@color-green-one: #5EAA2F;

@color-red: #FF8282;

@color-black: #000000;
@color-black-one: #111111;
@color-black-two: #222222;

@color-grey: #444444;
@color-grey-one: #666666;
@color-grey-two: #BABABA;
@color-grey-three: #CDCDCD;
@color-grey-four: #CECECE;
@color-grey-five: #E7E7E7;
@color-grey-six: #EBEBEB;
@color-grey-seven: #EDEDED;
@color-grey-eighth: #F2F2F2;
@color-grey-ninth: #DADADA;

// Фоны
@color-back-main: @color-white;
@color-back-second: @color-grey-eighth;
@color-back-third: @color-green;
@color-back-fourth: @color-green-one;

// Границы
@color-border-menu: @color-grey-five;
@color-border-menu-link: @color-green;
@color-border-menu-link-desktop: @color-white;
@color-border-example: @color-grey-three;
@color-border-input: @color-grey-five;
@color-border-input-hover: @color-grey-four;
@color-border-input-active: @color-grey;

@color-border-check: @color-grey-three;
@color-border-check-hover: @color-grey-two;

@color-border-catalog: @color-grey-seven;
@color-border-add: @color-grey-four;
@color-border-footer: @color-grey-ninth;

// Заголовки и текст
@color-subtitle-main: @color-black-one;
@color-subtitle-second: @color-black-two;
@color-subtitle-third: @color-white;
@color-text: @color-grey;

// Ссылки
@color-link-main: @color-green;
@color-link-second: @color-green-one;
@color-link-all-main: @color-grey-eighth;
@color-link-all-second: @color-grey-six;

// SVG
@color-svg-main: @color-grey-one;
@color-svg-second: @color-green;
@color-svg-three: @color-white;
@color-svg-four: @color-black;
@color-svg-five: @color-grey-seven;

// Декоративные элементы
@color-form-element: @color-green;
@color-input-active: @color-grey;
@color-check-active: @color-green;

// Размеры устройств
@width-mobile-max: 767px;
@width-tablet: 768px;
@width-desktop: 1300px;
