/* ----------------------------------------------------------- */
/* Block 1: Consts of colors
/* ----------------------------------------------------------- */
@color-white: #FFFFFF;
@color-green: #68B738;
@color-green-one: #5EAA2F;
@color-green-two: #56A327;
@color-green-three: #65A93C;
@color-red: #FF8282;
@color-black: #000000;
@color-black-one: #111111;
@color-black-two: #222222;
@color-grey: #444444;
@color-grey-one: #666666;
@color-grey-two: #BABABA;
@color-grey-three: #CDCDCD;
@color-grey-four: #CECECE;
@color-grey-five: #E7E7E7;
@color-grey-six: #EBEBEB;
@color-grey-seven: #EDEDED;
@color-grey-eighth: #F2F2F2;
@color-grey-ninth: #DADADA;
@color-grey-tenth: #D4D4D4;
/* ----------------------------------------------------------- */
/* Block 2: Font's parameters
/* ----------------------------------------------------------- */
@font-main: "Oswald", "Arial", sans-serif;
@font-second: "Arial", sans-serif;
@font-weight-default: 400;
@font-weight-bold: 500;
@font-size-default: 16px;
@line-height-default: 20px;
@font-color-default: @color-black-one;
@font-color-arial: @color-grey;
/* ----------------------------------------------------------- */
/* Block 3: Element's colors
/* ----------------------------------------------------------- */
@color-outline: @color-grey;
@color-background: @color-green;
@color-background-contrast: @color-white;
@color-background-gradient: @color-green-three;
@color-element-border: @color-green;
@color-element-shadow: @color-black;
@color-element-error: @color-red;
@color-text-contrast: @color-white;
/* ----------------------------------------------------------- */
/* 3.1: Navigation
/* ----------------------------------------------------------- */
@color-nav-border: @color-grey-five;
@color-nav-link-text: @color-black-one;
@color-header-text: @color-black-one;
@color-nav-link-active: @color-green;
@color-nav-toggle: @color-black-two;
@color-nav-toggle-outline: @color-green-two;
/* ----------------------------------------------------------- */
/* 3.2: Footer
/* ----------------------------------------------------------- */
@color-footer-background: @color-grey-eighth;
@color-footer-border: @color-grey-ninth;
@color-footer-svg-default: @color-grey-one;
@color-footer-hover: @color-green;
@color-footer-link-text: @color-grey;
/* ----------------------------------------------------------- */
/* 3.3: Footer-social
/* ----------------------------------------------------------- */
@color-social-background-desktop: @color-white;
/* ----------------------------------------------------------- */
/* 3.4: Example & slider
/* ----------------------------------------------------------- */
@color-example-title: @color-black-one;
@color-example-background: @color-grey-eighth;
@color-example-background-slider: @color-white;
@color-example-border: @color-grey-three;
@color-example-border-text: @color-grey;
/* ----------------------------------------------------------- */
/* 3.5: Links
/* ----------------------------------------------------------- */
@color-link-text: @color-white;
@color-link-background: @color-green;
@color-link-background-hover: @color-green-one;
@color-link-text-all: @color-grey;
@color-link-background-all: @color-grey-eighth;
@color-link-background-hover-all: @color-grey-six;
@color-link-contrast: @color-black-one;
/* ----------------------------------------------------------- */
/* 3.6: Buttons
/* ----------------------------------------------------------- */
@color-button-text: @color-white;
@color-button-background: @color-green;
@color-button-background-hover: @color-green-one;
/* ----------------------------------------------------------- */
/* 3.7: Main
/* ----------------------------------------------------------- */
@color-main-text: @color-black-one;
@color-main-border: @color-grey-five;
/* ----------------------------------------------------------- */
/* 3.8: Goods
/* ----------------------------------------------------------- */
@color-goods-background-tablet: @color-grey-eighth;
@coloe-goods-background-more: @color-grey-tenth;
@color-goods-background-subtitle: @color-white;
@color-goods-background-promo: @color-green-one;
@color-goods-border: @color-grey-seven;
@color-goods-border-details: @color-grey-four;
@color-goods-text: @color-grey;
@color-goods-title: @color-black-one;
@color-goods-subtitle: @color-black-two;
/* ----------------------------------------------------------- */
/* 3.9: Feedback
/* ----------------------------------------------------------- */
@color-input-border: @color-grey-five;
@color-input-border-hover: @color-grey-four;
@color-input-border-active: @color-grey;
@color-input-text: @color-grey;
@color-label-text: @color-black-two;
@color-icon-fill: @color-black-two;
@color-border-check: @color-grey-three;
@color-border-check-hover: @color-grey-two;
@color-input-active: @color-grey;
@color-check-active: @color-green;
/* ----------------------------------------------------------- */
/* 3.10: Program
/* ----------------------------------------------------------- */
@color-program-background: @color-grey-eighth;
/* ----------------------------------------------------------- */
/* Block 4: Width of devices
/* ----------------------------------------------------------- */
@width-mobile-min: 320px;
@width-mobile-max: 767px;
@width-tablet: 768px;
@width-desktop: 1300px;
